body {
    background-color: #cccccc;
   }



 /* Style buttons */
.et_pb_button {

    position:absolute;
    transition: .5s ease;
    top: center;
    left: 50%;


    background-color: #93b5ff; /* Green */
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 2%;
    border: 2px solid #000000; /* Green */

    transition-duration: 0.4s;

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  
  /* Darker background on mouse-over */
.et_pb_button:hover {
    box-shadow: 0 4px 14px 0 rgba(99, 99, 99, 0.24), 0 4px 10px 0 rgba(59, 59, 59, 0.19);
    font-size: 105%;
    border: 2px solid #a8a3a3;
    background-color: RoyalBlue;
  } 